<div id="header">
	<h1>TweeterApp</h1>
	<hr>
	<button>
		<%= link_to "Sign up", signup_path, id: "buttons"%>
	</button>
	<button>
		<%= link_to "Home", root_path, id: "buttons" %>
	</button>
	<button>
		<%= link_to "About", about_path, id: "buttons" %>
	</button>
	<button>
		<%= link_to "Help", help_path, id: "buttons" %>
	</button>
</div>